.form-wrap {
  margin-top: 10px;

  h2 {
    text-align: center;
    color: #999;
  }
}

.form-window {
  margin: 0 auto;
  width: 70%;

  input {
    width: 50%;
  }
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;



  label {
    font-size: 1.2rem;
    color: #999;
    text-shadow: none;

  }
  textarea,
  select,
  input {
    width: 50%;
    min-height: 30px;
    outline: none;
    padding-left: 10px;
  }

  textarea {
    resize: none;
    height: 80px;
  }
}

.form-control {

  margin-top: 10px;

  img {
    width: 100%;
  }

}
.validation {


  .validation_par {
    color: #ff0000;
    font-weight: bold;
  }
}
