
<div class="container">
  <div class="form-wrap">
  <h2>Страница редактирования товара</h2>
    <div class="form-window">

      <form [formGroup]="form" *ngIf="form" (submit)="onSubmit()">

        <div class="form-control">
          <div class="form-input">
            <label class="shadow">Наименование</label>
            <div class="validation" *ngIf="form.get('title')!.touched && form.get('title')!.invalid">
              <p class="validation_par" *ngIf="form.get('title')!.errors!['required']">Введите наименование</p>
            </div>
            <input type="text" formControlName="title">
          </div>
        </div>

        <div class="form-control">
          <div class="form-input">
            <label class="shadow">Бренд</label>
            <div class="validation" *ngIf="form.get('brand')!.touched && form.get('brand')!.invalid">
              <p class="validation_par" *ngIf="form.get('brand')!.errors!['required']">Укажите бренд</p>
            </div>
            <input type="text" formControlName="brand">
          </div>
        </div>

        <div class="form-control">
          <div class="form-input">
            <label class="shadow">Тип</label>
            <select formControlName="productType">
              <option disabled>Выберите тип товара</option>
              <option value="доска">Доска</option>
              <option value="подвески">Подвески</option>
              <option value="колёса">Колёса</option>
              <option value="подшипники">Подшипники</option>
            </select>
          </div>
        </div>

        <div class="form-control">
          <div class="form-input">
            <label class="shadow">Цена</label>
            <div class="validation" *ngIf="form.get('price')!.touched && form.get('price')!.invalid">
              <p class="validation_par" *ngIf="form.get('price')!.errors!['required']">Укажите цену</p>
            </div>
            <input type="text" formControlName="price">
          </div>
        </div>

        <div class="form-control">
          <div class="form-input">
            <label class="shadow">Описание</label>
            <div class="validation" *ngIf="form.get('description')!.touched && form.get('description')!.invalid">
              <p class="validation_par" *ngIf="form.get('description')!.errors!['required']">Заполните описание</p>
            </div>
            <textarea formControlName="description"></textarea>
          </div>
        </div>

        <div class="form-control form-control-photo">
          <div class="preview-block">
            <label *ngIf="!imageProduct">Изображение товара</label>
          </div>
          <input type="file" #fileInput (change)="loadFile($event)" style="display: none">
          <div class="preview">
            <img *ngIf="imageProduct; else addTemplate" [src]="imageProduct" alt="image product">
          </div>
          <button class="btn shadow" type="button" *ngIf="imageProduct" (click)="imageProduct = ''">Сбросить изображение</button>
        </div>


        <div class="form-buttons">
          <button class="btn shadow" type="submit" [disabled]="submitted || form.invalid || !this.imageProduct">Сохранить</button>
          <button class="btn shadow" type="button" (click)="formClear()">Очистить форму</button>
        </div>

      </form>

    </div>
  </div>
</div>


<ng-template #addTemplate>
  <div class="add-template" (click)="selectFile()">+</div>
<!--  <h2>ADD</h2>-->
</ng-template>
