

<div *ngIf="productCard" class="product" (click)="log(productCard)">
  <h2>{{ productCard.title | titlecase}}</h2>
  <img src="{{productCard.photo}}" alt="{{productCard.brand}}">

  <div class="product-info">
    <p>{{ productCard.productType | titlecase }}</p>
    <p>Стоимость: {{ productCard.price }} р.</p>
  </div>

  <div class="product-buttons">
    <button (click)="goToProductPage(productCard.id)">Подробнее</button>
    <button (click)="addToCart(productCard)">В корзину</button>
  </div>

</div>
