.product {
  margin: 10px;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  transition: all .3s ease-in-out;
  color: #999;

  &-info {
    margin-top: 10px;
  }

  &-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 35%;
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }


  h2 {
    text-align: center;
    font-size: 1.1rem;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: 0 0 10px 5px #999999;
  }
}
