
<div class="container" *ngIf="cart && cart.length !== 0; else empty">
  <div class="cart-header">
    <h2>Корзина</h2>
    <button (click)="cartClear()">Очистить корзину</button>
  </div>

  <table>
    <caption><h3>Ваш заказ</h3></caption>
    <thead>
      <tr>
        <th>№</th>
        <th>Заголовок</th>
        <th>Брэнд</th>
        <th>Стоимость</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart; let i = index">
        <td>{{i + 1}}</td>
        <td>{{cartItem.title}}</td>
        <td>{{cartItem.brand}}</td>
        <td>{{cartItem.price}}</td>
        <td><button (click)="removeFromCart(i)">Удалить</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [attr.colspan]="3"><strong>Итого:</strong></td>
        <td [attr.colspan]="2"><strong>{{totalPrice()}}</strong> руб.</td>
      </tr>
    </tfoot>
  </table>

  <form class="cart-form" (submit)="onSubmit()" [formGroup]="cartForm">

    <div class="form-control">
      <div class="form-input">
        <div class="label">
          <p class="shadow">Ваше имя</p>
          <div class="validation" *ngIf="cartForm.get('name')!.touched && cartForm.get('name')!.invalid">
            <p class="validation_par" *ngIf="cartForm.get('name')!.errors!['required']">Укажите имя</p>
          </div>
        </div>
        <input type="text" formControlName="name">
      </div>
    </div>

    <div class="form-control">
      <div class="form-input">
        <div class="label">
          <p class="shadow">Телефон</p>
          <div class="validation" *ngIf="cartForm.get('phone')!.touched && cartForm.get('phone')!.invalid">
            <p class="validation_par" *ngIf="cartForm.get('phone')!.errors!['required']">Укажите номер телефона</p>
          </div>
        </div>
        <input type="text" formControlName="phone">
      </div>
    </div>

    <div class="form-control">
      <div class="form-input">
        <div class="label">
          <p class="shadow">Ваш адрес</p>
          <div class="validation" *ngIf="cartForm.get('address')!.touched && cartForm.get('address')!.invalid">
            <p class="validation_par" *ngIf="cartForm.get('address')!.errors!['required']">Укажите адрес</p>
          </div>
        </div>
        <input type="text" formControlName="address">
      </div>
    </div>

    <button type="submit" [disabled]="cartForm.invalid">Оформить заказ</button>

  </form>

</div>



<ng-template #empty>
  <h2 class="empty">Ваша корзина пустая!</h2>
</ng-template>
