
.cart-header {
  margin-top: 1rem;
  color: #999999;
  display: flex;
  justify-content: space-around;

  button {
    padding: 5px;
  }
}


table {
  width: 80%;
  margin: 0 auto;

  caption {
    margin: 5px;
  }

  tr {
    background: #ECEFF1;
  }

  th,
  td {
    padding: 10px;
  }
  td:first-child {
    padding: 0;
    text-align: center;
  }

  button {
    padding: 5px;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
}

.cart-form {
  margin: 20px auto;
  width: 80%;
  background: #bcbcbc;
  display: flex;
  flex-direction: column;

  button {
    margin: 0 auto 20px;
    width: 30%;
    height: 40px;
  }
}

.form-control {
  display: flex;
  margin: 10px auto;
  width: 60%;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;

  input {
    height: 35px;
    padding-left: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    color: #999999;
  }
}

.label {
  display: flex;
  justify-content: center;
}

.validation_par {
  color: #ff0000;
  margin-left: 30px;
}


.empty {
  text-align: center;
  color: #999999;
  margin-top: 3rem;
  font-size: 2rem;
}
