<nav class="navbar">

  <h2 class="shadow" [routerLink]="['/']">Angular Skate Shop</h2>

  <ul>
    <li routerLinkActive="active">
      <a class="shadow" [class.current-filter]="filterType === 'all'" (click)="setType('all')">Все товары</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [class.current-filter]="filterType === 'доска'" (click)="setType('доска')">Доски</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [class.current-filter]="filterType === 'подвески'" (click)="setType('подвески')">Подвески</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [class.current-filter]="filterType === 'колёса'" (click)="setType('колёса')">Колёса</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [class.current-filter]="filterType === 'подшипники'" (click)="setType('подшипники')">Подшипники</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [routerLink]="['cart']">Корзина{{cartCount ? ': '+cartCount : null}}</a>
    </li>
  </ul>

</nav>



<div class="layout-subtext" *ngIf="isAuth()">
  <p>Вы авторизированы!</p>
  <button class="btn" [routerLink]="['/admin', 'dashboard']">Панель администратора</button>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
