<nav class="navbar">

  <h2 class="shadow" [routerLink]="['dashboard']">Администратор</h2>

  <ul *ngIf="isAuthenticated()">
    <li routerLinkActive="active">
      <a class="shadow" [routerLink]="['add']">Добавить товар</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [routerLink]="['orders']">Заказы</a>
    </li>
    <li routerLinkActive="active">
      <a class="shadow" [routerLink]="['#']" (click)="logout($event)">Выйти</a>
    </li>
  </ul>

</nav>

<div class="layout-subtext" *ngIf="isAuthenticated()">
  <p>Вы авторизированы!</p>
  <button class="btn" [routerLink]="['/']">На страницу магазина</button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
