<div class="container">

  <div class="sidebar">
    <h2>Добро пожаловать в Angular Skate Shop!</h2>
    <div class="search-block">
      <input
        type="text"
        placeholder="Поиск ..."
        [(ngModel)]="searchValue"
      >
      <p (click)="searchValue = ''">&times;</p>
    </div>
  </div>

  <div class="main" *ngIf="products$ | async as products">
    <h2 *ngIf="!products.length">На данный момент товары отстутсвуют ¯\_(ツ)_/¯</h2>
    <app-product-card
      *ngFor="let product of products | search:searchValue | filter:filterType"
      [productCard]="product"
    ></app-product-card>
  </div>

</div>












