.main {

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


h2 {
  text-align: center;
  color: #999999;
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  input {
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #999999;
    padding-left: 5px;
    color: #999999;
    width: 100%;
  }

}

.search-block {
  position: relative;

  min-height: 35px;
  width: 30%;
  display: flex;
  align-items: center;

  p {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #999999;
  }

}
