.login {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;



  &-block {
    width: 40%;
    height: 40%;
    background: #bcbcbc;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #999,
                2px 2px 0 #999,
                3px 3px 0 #999,
                4px 4px 0 #999,
                5px 5px 0 #999,
                6px 6px 0 #999;

    h2 {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid #999;
      cursor: auto;
    }
    .form {
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .btn {
        color: #fff;

      }

      &-control {
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 100%;
        padding: 0 20px;
        align-items: center;


        label {
          text-align: center;
          font-weight: bold;
          color: #999;
          font-size: 1.3rem;
          text-shadow: 0 0 2px #fff;
        }

        input {
          height: 40%;
          width: 50%;
          border: none;
          outline: none;
          font-size: 1.1rem;
          color: #999;
          padding-left: 30px;
          border-radius: 3px;
          box-shadow: 1px 1px 0 #999,
                      2px 2px 0 #999,
                      3px 3px 0 #999;
        }

        .validation_par {
          text-align: center;
          color: #ff0000;
        }

      }
    }
  }
}

.login-window {
  background: #bcbcbc;
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 0 #999,
              2px 2px 0 #999,
              3px 3px 0 #999,
              4px 4px 0 #999,
              5px 5px 0 #999,
              6px 6px 0 #999;

}
.container { }
