<div class="container">
  <div class="login" *ngIf="!isAuth(); else isLogin">
    <div class="login-block">
      <h2 class="shadow">Войдите как администратор</h2>
      <form class="form" [formGroup]="form" (submit)="onSubmit()">

        <div class="form-control">
          <label>Email</label>
          <input type="email" formControlName="email">
          <div class="validation" *ngIf="form.get('email')!.touched && form.get('email')!.invalid">
            <p class="validation_par" *ngIf="form.get('email')!.errors!['required']">Введите email</p>
            <p class="validation_par" *ngIf="form.get('email')!.errors!['email']">Введите корректный email</p>
          </div>
        </div>

        <div class="form-control" >
          <label>Пароль</label>
          <input type="password" autocomplete="off" formControlName="password">
          <div class="validation" *ngIf="form.get('password')!.touched && form.get('password')!.invalid">
            <p class="validation_par" *ngIf="form.get('password')!.errors!['required']">Введите пароль</p>
            <p class="validation_par" *ngIf="form.get('password')!.errors!['minlength']">
              Длина пароля должна быть минимум {{ form.get('password')!.errors!['minlength'].requiredLength }} символов.
            </p>
          </div>
        </div>
        <button class="btn shadow" type="submit" [disabled]="form.invalid || submitted">Войти</button>
      </form>
    </div>
  </div>

</div>

<ng-template #isLogin>
    <div class="login">
      <div class="login-window">
        <h2 class="shadow">Вы уже вошли в систему !</h2>
      </div>
  </div>
</ng-template>
