<div class="container">

  <div class="product-card" *ngIf="product">

    <div class="card-description">
      <div>
        <h2>{{product.title | titlecase}}</h2>

        <div class="row">
          <p>Тип товара:</p>
          <p>{{product.productType | titlecase}}</p>
        </div>

        <div class="row">
          <p>Бренд:</p>
          <p>{{product.brand | uppercase}}</p>
        </div>

        <div class="row">
          <p>Стоимость:</p>
          <p style="font-weight: bold">{{product.price}} руб.</p>
        </div>

        <p class="description">
          {{product.description}}
        </p>
      </div>
      <div class="desc-buttons">
        <button (click)="toMainPage()">Назад</button>
        <button disabled>Добавить в корзину</button>
      </div>
    </div>
    <div class="card-image">
      <img src="{{product.photo}}" alt="{{product.brand}}">
    </div>

  </div>


</div>
