.product-card {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  background: #bcbcbc;
  margin: 20px auto 0;
  border-radius: 10px;

  padding: 20px;


}
.card-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 40px 0 10px;
  }


  h2 {
    text-align: center;
  }

  .description {
    border-top: 2px solid #999999;
    margin-top: 15px;
    padding: 15px 10px 0;
  }

}

.card-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    border-radius: 15px;
  }
}

.desc-buttons {
  display: flex;
  justify-content: space-between;

  button {
    width: 40%;
    border-radius: 5px;
    outline: none;
    height: 40px;

  }

}
