.dashboard-title {
  color: #999999;
  text-align: center;
  font-weight: normal;
}

.products {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;

}


.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid red;
  margin: 5px;
  padding: 1rem;


  img {
    width: 100%;
  }
}
