<div class="container">
  <h2 class="dashboard-title" *ngIf="allProducts.length; else noneProducts">Все товары магазина</h2>

  <div class="products">
    <div class="product" *ngFor="let product of allProducts">
      <h2>{{ product.title | titlecase }}</h2>
      <img [src]="product.photo" [alt]="product.brand">
      <div>
        <p>{{ product.price }} руб</p>
        <button [routerLink]="['/admin', 'product', product.id, 'edit']">Редактировать</button>
        <button (click)="removeProduct(product.id)">Удалить</button>
      </div>
    </div>
  </div>
</div>



<ng-template #noneProducts>
  <h2 class="dashboard-title">На данный момент товары отсутствуют ¯\_(ツ)_/¯</h2>
</ng-template>
