.form-window {
  background: #bcbcbc;
  max-width: 1080px;
  border-radius: 10px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 0 #999,
              2px 2px 0 #999,
              3px 3px 0 #999,
              4px 4px 0 #999,
              5px 5px 0 #999;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;

  &-wrap {
    display: flex;
    margin: 20px 0;
  }
  &-left-block {
    flex: 3;
  }
  &-right-block {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  .btn {
    margin-bottom: 20px;
  }

}

.form-control {
  margin-bottom: 20px;
  min-height: 60px;
  min-width: 400px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    flex: 3;
    font-weight: bold;
    margin-right: 10px;
  }

  select,
  input {
    height: 30px;
    flex: 5;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
  }
}

.validation {
  text-align: center;
  color: #ff0000;
  text-shadow: 0 0 1px #999;
}

.form-control-description {
  width: 100%;
  display: flex;
  flex-direction: column;

  .desc-block {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    min-height: 100px;
    resize: none;
    border-radius: 4px;
    outline: none;
    border: none;
  }
}

.form-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  .btn {
    width: 30%;
  }
}



.upload {
  text-align: center;
  font-size: 1.5rem;
  background: #bcbcbc;
  border-radius: 5px;
  width: 50%;
  margin: 3rem auto 0;
  padding: 2rem;
}







.form-control-photo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.preview-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.preview {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }

  button {
    height: 20px;
  }
}

.add-template {
  border: 2px solid #999999;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  color: #999999;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
