<div class="container">
  <div class="form-window" *ngIf="!submitted; else upload">
    <form class="form" [formGroup]="form" (submit)="onSubmit()">

      <div class="form-wrap">
        <div class="form-left-block">

          <div class="form-control">
            <div class="form-input">
              <label class="shadow">Наименование</label>
              <input type="text" formControlName="title">
            </div>
            <div class="validation" *ngIf="form.get('title')!.touched && form.get('title')!.invalid">
              <p class="validation_par" *ngIf="form.get('title')!.errors!['required']">Введите наименование</p>
            </div>
          </div>

          <div class="form-control">
            <div class="form-input">
              <label class="shadow">Бренд</label>
              <input type="text" formControlName="brand">
            </div>
            <div class="validation" *ngIf="form.get('brand')!.touched && form.get('brand')!.invalid">
              <p class="validation_par" *ngIf="form.get('brand')!.errors!['required']">Укажите бренд</p>
            </div>
          </div>

          <div class="form-control">
            <div class="form-input">
              <label class="shadow">Цена</label>
              <input type="text" formControlName="price">
            </div>
            <div class="validation" *ngIf="form.get('price')!.touched && form.get('price')!.invalid">
              <p class="validation_par" *ngIf="form.get('price')!.errors!['required']">Укажите цену</p>
            </div>
          </div>

          <div class="form-control">
            <div class="form-input">
              <label class="shadow">Тип</label>
              <select formControlName="productType">
                <option disabled [selected]="true">Выберите тип товара</option>
                <option value="доска">Доска</option>
                <option value="подвески">Подвески</option>
                <option value="колёса">Колёса</option>
                <option value="подшипники">Подшипники</option>
              </select>
            </div>
            <div class="validation" *ngIf="form.get('productType')!.touched && form.get('productType')!.invalid">
              <p class="validation_par" *ngIf="form.get('productType')!.errors!['required']">Выберите тип</p>
            </div>
          </div>

          <div class="form-control form-control-description">
            <div class="desc-block">
              <label class="shadow">Описание</label>
              <div class="validation" *ngIf="form.get('description')!.touched && form.get('description')!.invalid">
                <p class="validation_par" *ngIf="form.get('description')!.errors!['required']">Заполните описание</p>
              </div>
            </div>
            <textarea formControlName="description"></textarea>
          </div>

        </div>
        <div class="form-right-block">
          <div class="form-control form-control-photo">
            <div class="preview-block">
              <label class="shadow" *ngIf="!imageProduct">Изображение товара</label>
            </div>
            <input type="file" #fileInput (change)="loadFile($event)" style="display: none">
            <div class="preview">
              <img *ngIf="imageProduct; else addTemplate" [src]="imageProduct" alt="image product">
            </div>
            <button class="btn shadow" type="button" *ngIf="imageProduct" (click)="imageProduct = ''">Сбросить изображение</button>
          </div>
        </div>
      </div>


      <div class="form-buttons">
        <button class="btn shadow" type="submit" [disabled]="submitted || form.invalid || !this.imageProduct">Добавить</button>
        <button class="btn shadow" type="button" (click)="formClear()">Очистить форму</button>
      </div>

    </form>
  </div>
</div>

<ng-template #addTemplate>
  <div class="add-template" (click)="selectFile()">+</div>
</ng-template>

<ng-template #upload>
  <h2 class="shadow upload">Данные отправляются на сервер!</h2>
</ng-template>
