* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background: #ffffff;
  margin: 0 auto;
  min-height: 600px;
}

.navbar {
  background: #bcbcbc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  h2 {
    cursor: pointer;
  }

  ul {
    min-width: 60%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  li {
    border-bottom: 2px solid transparent;

  }

  li.active {
    border-color: #999;
  }

}

.container {
  max-width: 1920px;
  height: 100%;
}
.shadow {
  color: #ffffff;
  text-shadow: 0 0 2px #000000;
}

.btn {
  padding: 5px 20px;
  font-size: 1.3rem;
  border: 1px solid #999;
  border-radius: 3px;
  background: #999;

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 3px #fff;

  }

  &:disabled {
    background: #bcbcbc;
    &:hover {
      cursor: auto;
      box-shadow: none;
    }
  }

}


.layout-subtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #999;
  color: #fff;
  padding-left: 20px;

  button {
    color: #fff;
    border-left: 2px solid #bcbcbc;
    &:hover {
      background: #bcbcbc;
    }
  }
}
